
body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: black;
  background-image: url('public/images.jpeg');
   
}

h1 {
  font-size: 3em;
  padding: 3px;
  border: 3px dotted rgb(255, 0, 0);
  border-radius: 3px;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#board{
  border-collapse: collapse;
}

#board td{
  border: 2px dotted rgba(0, 0, 0, 0.438);
  width: 18px;
  height: 18px;
}

td.darker{
  background-color: black;
}

td.darker1 {
  background-color: #fd6005;
}
td.darker2 {
  background-color: #fde405;
}
td.darker3 {
  background-color: #75fd05;
}
td.darker4 {
  background-color: #05fd3b;
}
td.darker5 {
  background-color: #05f5fd;
}
td.darker6 {
  background-color: #055cfd;
}
td.darker7 {
  background-color: #6405fd;
}
td.darker8 {
  background-color: #f505fd;
}
td.darker9 {
  background-color: #fd0579;
}

#control_panel {
  margin: 10px 0 50px 0;
}
#top {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
#top > .button {
  padding: 0.85em 1em;
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgba(10, 68, 175, 0.61);
}

#random_btn{
  font-size: 15px;
  color: white;
  text-align: center;
}
#fun_btn, #yay_btn{
  font-size: 15px;
  color: white;
  border-radius: 3px; 
}

#container .button {
  padding: 0.85em 1em;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: rgba(236, 201, 47, 0.658);
  color: black;
}

.button:hover, .button:focus {
  background-color: #04b8ff;
  
  font-weight: 900;
}

.button:focus {
  outline: dashed 1px black;
}