body {
    font-family: verdana;
    background-color: lightgray;
}
#heading {
    font-family: verdana;
    text-align: center;
    background-color: palegreen;
    border: 5px dotted orange;
    border-radius: 20%;
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

.container{
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.weird {
    width: 360px;
    height: 240px;
    border: 5px solid red;
}
.foot {
    width: 300px;
    height: 350px;
    border: 5px solid orange;
}
.loaf {
    width: 300px;
    height: 350px;
    border: 5px solid green;
}
.lounge {
    width: 350px;
    height: 250px;
    border: 5px solid blue;
}
.wink {
    width: 300px;
    height: 350px;
    border: 5px solid purple;
}
p {
    color: blue;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
}
ul {
    list-style: none;
}
h4 {
    color: yellowgreen;
    background-color: black;
    text-align: center;
    padding: 40px;
    margin: 20px;
    border-radius: 50%;
    opacity: 80%;
    width: 25%;
    
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    background-color: yellow;
}