
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: black;
  background-image: url('images.jpeg');  
}
#instructions > p {
  margin: 0;
  text-align: center;
  font-size: .9em;
}

#top > #instructions{
  padding: 1em 1em 0 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.473);
  border-radius: 3em;
  box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.473); 
}

#title > p {
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#board{
  border-collapse: collapse;
}

#board td{
  border: 3px dotted rgba(0, 0, 0, 0.438);
  width: 18px;
  height: 18px;
}

#control_panel > button{
  margin: 1em;
}
#top {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
#control_panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#control_panel > .button {
  padding: 0.85em 1em;
  border: 3px solid black;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  color: black;
  font-weight: bold;
}

#random_btn{
  color: white;
  text-align: center;
}

#pause-clear > button {
  margin: 1em;
  padding: 0.85em 1em;
  border: 3px solid black;
  border-radius: 3px;
  font-weight: bold;
}

#pause_btn {
  background-color: rgba(255, 13, 13, 0.61);
}
#clear_btn {
  background-color: rgba(247, 107, 107, 0.61);
}
#step_btn {
  background-color: rgba(88, 231, 100, 0.61);
}
#play_btn {
  background-color: rgba(3, 180, 18, 0.61);
}
#random_btn {
  background-color: rgba(248, 6, 216, 0.623);
}
#control_panel button:hover{
  background-color: rgba(248, 252, 29, 0.582);
}

#nope{
  display: flex;
  justify-content:space-around;
}
#nope > button {
  font-size: 1em;
  margin: 1em;
  padding: 1em;
  border: 3px solid black;
  border-radius: 3px;
  background-color: rgba(10, 68, 175, 0.61);
  font-weight: bold;
}
#nope > button:hover {
  background-color: black;
  color: white;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.788);
}
td.darker{
  
  background-color: rgba(0, 0, 0, 0.651);
}

td.darker1 {
  background-color: #fd6005;
}
td.darker2 {
  background-color: #fde405;
}
td.darker3 {
  background-color: #75fd05;
}
td.darker4 {
  background-color: #05fd3b;
}
td.darker5 {
  background-color: #05f5fd;
}
td.darker6 {
  background-color: #055cfd;
}
td.darker7 {
  background-color: #6405fd;
}
td.darker8 {
  background-color: #f505fd;
}
td.darker9 {
  background-color: #fd0579;
}

@media screen and (max-width: 700px) {
  #title{
    font-size:xx-small;
  }
  #instructions p{
    font-size:xx-small;
  }
  button{
    font-size:x-small;
  }
}